/* Write your code here. */

.emoji-item {
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  margin: 15px;
  height: 140px;
  width: 140px;
}

.emoji-btn {
  background-color: transparent;
  border: 0px solid #ccc;
  cursor: pointer;
  
}

.emoji-img {
  height: 70px;
  width: 70px;
}
