/* Write your code here. */

nav {
  background-color: #ffffff33;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.score {
  margin-left: auto;
}

.emoji-logo {
  height: 30px;
  margin-right: 5px;
}

.emoji-display {
  font-size: 15px;
}
